.hide {
    display: none;
}

.headerContainer {
    width: 100%;
    height: 75px;
    background-color: rgba(202, 231, 248, 0.822);
    position: fixed;
    z-index: 1000;

    .NameNav {

        .Navlinks {
            display: flex;

            .homeImg {
                height: 70px;
                margin: 0 30px 0 30px;
                padding: 0;
            }

            .linkText {
                padding: 20px;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    color:violet;
                }
            }

            .btnLogout {
                width: 100px;
                padding: 5px;
                border: 1px solid rgb(196, 193, 193);
                border-radius: 5px;
                background-color: none;
                margin: 0;
            }
        
        }
    }
}